
body {
    width: 1600px;
    font-family: 'Roboto'; 
    font-style: normal;
    color: var(--text-main-color)
}

:root {
    --logo-white-footer-color: #ffffff;
    --logo-black-color: #000000;
    --text-main-color: #212121;
    --border-header-color: #ECECEC;
    --hover-blue-color: #2196F3;
    --logo-blue-color: #2196F3;
    --link-gray-color: #757575;
    --hero-back-color: #2F303A;
    --text-white-color: #F5F4FA;
    --btn-hero-bg-color: #F5F4FA;
    --link-footer-color: rgba(255, 255, 255, 0.6);
}
.main-header {
    border-bottom: 1px solid var(--border-header-color);
}
.navigation {}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    color: var(--logo-black-color);
}
.logo-blue {
    color: var(--logo-blue-color);
}
.navigation-list {}
.navigation-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-main-color);
}
.navigation-item:hover,
.navigation-item:focus,
.navigation-item:active { 
    letter-spacing: 0.02em;
    color: var(--hover-blue-color);
}
.contact-list {}
.contact-item {}
.contact-item-link {
    color: var(--link-gray-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.contact-item-link:hover,
.link-footer:hover, 
.contact-item-link:focus,
.link-footer:focus,
.contact-item-link:active,
.link-footer:active {
    color: var(--hover-blue-color);
    letter-spacing: 0.02em;
}
/* MAIN AND HERO */
.main-content {}
.hero {
    background-color: var(--hero-back-color);
    width: 1600px;
    height: 600px;
}
.hero-section {}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white-color);
}
.hero-btn {
    background-color: var(--btn-hero-bg-color);
    text-align: center;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
}
.hero-btn:hover, 
.hero-btn:focus,
.hero-btn:active {
    cursor: pointer;
    background-color: #2196F3;
    color: var(--text-white-color);
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* FEATURES */
.features-section {}
.features-list {}
.features-item {}
.features-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feateres-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--link-gray-color);
}
/* WORK */
.what-we-do {}
.what-we-do-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.what-we-do-list {}
.what-we-do-item {}
.what-we-do-image {}
/* PEOPLE LIST */
.team { 
    background-color: var(--btn-hero-bg-color);
}
.people-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.people-list {}
.people-item {}
.people-img {}
.people-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.people-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-gray-color);
}
/* FOOTER */
.footer {
    background-color: var(--hero-back-color);  
}
.address-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
}
.link-footer {
    letter-spacing: 0.03em;
    color: var(--link-footer-color);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    color: var(--logo-white-footer-color);
}
/* PORTFOLIIO TWO PAGES */
.content-portfolio {}
/* NAVIGATION */
.portfolio-nav {}
.portfolio-nav-list {}
.portfolio-nav-item {}
.portfolio-nav-btn {
    width: 112px;
    height: 38px;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    background-color: var(--btn-hero-bg-color);
}
.portfolio-nav-btn:hover, 
.portfolio-nav-btn:focus,
.portfolio-nav-btn:active {
    cursor: pointer;
    color: var(--logo-white-footer-color);
    background: var(--hover-blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* EXAMPLE */
.portfolio-example {}
.example-section-list {}
.example-list {}
.example-item {}
.example-link {}
.example-img {}
.example-simpled-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.example-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--link-gray-color);
}


